<div class="pb-2 mt-4 mb-2 border-bottom">
  <div class="row">
    <div class="col-md-6">
      <p class="h2">{{text}}</p>
    </div>
  </div>
</div>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>

  <div class="row">

    <div class="col-sm-6">
      <div class="form-group">
        <input type="text" required class="form-control" formControlName="name" placeholder="Name">
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <input type="text" required class="form-control" formControlName="email" placeholder="Email">
      </div>
    </div>

    <div class="col-sm-12">
      <div class="form-group">
        <input type="text" required class="form-control" formControlName="text" placeholder="Text">
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:10px">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-success" [disabled]="!contactForm.valid">SAVE</button>
    </div>
  </div>

</form>
